@charset "ISO-8859-1";

body {
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
}

.wrapper {
    margin: 0 auto;
	width: 800px;
}

.main {
	display: flex;
}

.col {
	flex: 2;
}

.login {
	display: flex;
	flex-direction: column;
}

